:root {
	font-size: calc(var(--base) * 2);
    --accent-font: 'Satoshi', sans-serif;
    --complement-font: 'Satoshi', sans-serif;
    --accent-font-serif: 'Zodiak', serif;
    --complement-font-serif: 'Zodiak', serif;
}

hr {
    border-color: var(--500);
    opacity: 1;
    
    @media (min-width: 728px) {
        mix-blend-mode: overlay;
        border-color: var(--white);
    }
}

h1,
h2,
h3,
h4,
h5,
h5 {
    margin: 0;
    font-weight: 900;
    line-height: var(--line-height-md);
    color: var(--white);
    font-family: var(--complement-font);
}

h1,
h2 {
    font-size: 2rem;
}

small,
.small {
    font-size: .75rem;
    letter-spacing: .5px;
}
