@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

:root {
    --accent-font: 'Chakra Petch', sans-serif;
    --complement-font: 'Chakra Petch', sans-serif;
    font-size: calc(var(--base) * 2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: var(--line-height-md);
    color: var(--white);
}

small,
.small {
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}