@font-face {
    font-family: "Carbon";
    src: url("../font/carbon.ttf") format("ttf"),
         url("../font/carbon.woff") format("woff");
}

:root {
    --accent-font: 'Carbon', sans-serif;
    --complement-font: 'Carbon', sans-serif;
    font-size: calc(var(--base) * 2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: var(--line-height-md);
    color: var(--white);
}

small,
.small {
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
}