@font-face {
  font-family: 'font';
  src: url(assets/fonts/mont.otf); }

@keyframes maximumEffort {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(60rem); } }

@keyframes superheroLanding {
  0% {
    opacity: .9;
    transform: scale(1.1); } }

* {
  box-sizing: border-box; }

:root {
  --hue: 210;
  --color: hsl(var(--hue), 100%, 50%);
  --gray: hsl(var(--hue), 30%, 60%);
  --primary: hsl(var(--hue), 50%, 20%);
  --primary-light: hsl(var(--hue), 90%, 60%);
  --layout-base: 8px;
  --time-base: .4s;
  --fast-end: cubic-bezier(0, 0, 1, 0);
  --slow-end: cubic-bezier(0, 0, 0, 1);
  font-size: calc(var(--layout-base)*2);
  font-family: 'font';
  line-height: 1; }

.pageMenu, .pageFooter {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 50%;
  transform: translateX(100%);
  transform-origin: 0%;
  transition: transform calc(var(--time-base)*2) var(--slow-end); }
  .open.pageMenu, .open.pageFooter {
    transform: translateX(0%); }

.pageMenu, .pageContent, .pageFooter {
  padding: 10rem; }

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black; }
  body.preload * {
    transition: none !important; }

.pageWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  justify-content: center; }

.pagePicture {
  position: absolute;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  animation: superheroLanding calc(var(--time-base)*2.5) var(--fast-end) calc(var(--time-base)*3) reverse forwards; }

.pageMenu {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.9)); }
  .pageMenu li {
    font-size: 4.5rem;
    line-height: 6rem;
    opacity: 0;
    transform: translateX(10rem);
    transition: calc(var(--time-base)*2); }
    .pageMenu li:nth-child(1) {
      transition-delay: calc(.1s * 1); }
    .pageMenu li:nth-child(2) {
      transition-delay: calc(.1s * 2); }
    .pageMenu li:nth-child(3) {
      transition-delay: calc(.1s * 3); }
  .pageMenu.open li {
    opacity: 1;
    transform: translateX(0); }

.pageTitle {
  font-size: 5rem;
  line-height: 3.5rem;
  margin: auto 0;
  font-weight: normal;
  text-align: center; }
  .pageTitle small {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .5rem; }

.pageSubtitle {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1;
  color: var(--gray); }

.pageContent {
  display: flex;
  color: white;
  flex: 1;
  flex-direction: column;
  transition: calc(var(--time-base)*6) var(--slow-end);
  transform: scale(1.5);
  transform-origin: bottom; }
  .pageContent * {
    animation: maximumEffort calc(var(--time-base)*3) var(--slow-end);
    animation-fill-mode: backwards; }
    .pageContent *:nth-child(1) {
      animation-delay: calc(var(--time-base) * 1 + var(--time-base) * .5); }
    .pageContent *:nth-child(2) {
      animation-delay: calc(var(--time-base) * 2 + var(--time-base) * .5); }
    .pageContent *:nth-child(3) {
      animation-delay: calc(var(--time-base) * 3 + var(--time-base) * .5); }
  .pageContent.done {
    transform: none; }

.pageFooter {
  color: var(--primary);
  display: flex;
  padding-top: 0;
  font-weight: bold;
  justify-content: space-between; }
  .pageFooter li {
    display: inline;
    font-size: 1.25rem;
    margin-left: .5rem;
    line-height: 1; }

.toggleMenu {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  padding: 0;
  position: absolute;
  width: 2.5rem; }
  .toggleMenu span {
    color: transparent;
    font-family: 'font';
    font-size: 2.5rem;
    line-height: 1;
    margin-left: -8rem;
    transition: var(--time-base);
    color: white;
    visibility: hidden;
    opacity: 0;
    top: 0;
    position: absolute;
    right: 0;
    padding-right: 4rem; }
  .toggleMenu:focus {
    outline: none; }
  .toggleMenu:hover {
    outline: none; }
    .toggleMenu:hover span {
      right: 2rem;
      visibility: visible;
      opacity: 1; }
    .toggleMenu:hover:after, .toggleMenu:hover:before {
      width: 120%;
      top: calc(50% - 1px); }
  .toggleMenu:after, .toggleMenu:before {
    background: white;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    transition: var(--time-base); }
  .toggleMenu:after {
    top: calc(60% - 1px);
    width: 75%; }
  .toggleMenu:before {
    top: calc(40% - 1px);
    width: 100%; }
  .toggleMenu.x span {
    color: transparent; }
  .toggleMenu.x:after, .toggleMenu.x:before {
    top: calc(50% - 1px);
    width: 60%;
    right: 40%;
    background: var(--gray); }
  .toggleMenu.x:after {
    transform: rotate(-135deg); }
  .toggleMenu.x:before {
    transform: rotate(-225deg); }

.logo {
  position: absolute; }

.list {
  padding: 0;
  margin: 0; }
  .list li {
    list-style: none; }
    .list li a {
      color: var(--primary);
      text-decoration: none;
      transition: color calc(var(--time-base)/2); }
      .list li a:hover, .list li a:focus {
        color: var(--primary-light); }

#loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  background: white;
  transition: calc(var(--time-base)*2) var(--fast-end);
  z-index: 1; }
  #loader img {
    transition: calc(var(--time-base)*2) var(--fast-end); }
  #loader.done {
    visibility: hidden;
    overflow: hidden;
    transform: translateY(-100%); }
    #loader.done img {
      transform: translateY(5vh); }
