@import url("https://rsms.me/inter/inter.css");
@keyframes loadingBarProgress {
  0% {
    background-position: 125% 0; }
  100% {
    background-position: 0% 0; } }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden; }
  body > div {
    background: linear-gradient(90deg, white calc(100% - 1px), rgba(0, 0, 0, 0.1)), white;
    background-size: 10vw;
    opacity: 1;
    height: 100%;
    transition: opacity calc(var(--time-base)*1) var(--slow-end), transform calc(var(--time-base)*2) var(--slow-end); }
  body.loading {
    overflow: hidden; }
    body.loading > div {
      opacity: 0;
      transform: translateY(-1rem); }
    body.loading > span {
      animation: loadingBarProgress 2s linear infinite;
      background: linear-gradient(90deg, black, #cccccc, gray, #cccccc, black);
      background-size: 500%;
      display: block;
      height: .125rem;
      position: fixed;
      width: 100%;
      top: 0; }

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif; } }

footer {
  position: absolute;
  color: white;
  background: black;
  bottom: 10vw;
  padding: 1rem;
  right: 10vw;
  transform-origin: bottom right;
  transform: rotate(-90deg) translateX(100%);
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .125rem; }
  footer img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background: white;
    display: block; }

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10vw 10vw 0 10vw;
  transition: opacity var(--time-base) var(--slow-end);
  position: absolute;
  width: 100%;
  box-sizing: border-box; }
  header button {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    box-shadow: 0 0 0 0;
    color: black;
    cursor: pointer;
    font: 800 1.25rem var(--font-base);
    margin: -2rem;
    padding: 1rem 2rem;
    position: relative;
    z-index: 2; }
    header button:focus, header button:hover {
      outline: none; }
    header button:active {
      background-color: hsla(var(--hue), 0%, 0%, 0); }
  header > * {
    transition: calc(var(--time-base)/4) linear; }
  header.inverted > * {
    color: white; }

h1 {
  margin: 0; }

h2 {
  margin: 0; }

h3 {
  margin: 0; }

h4 {
  margin: 0; }

h5 {
  margin: 0; }

h6 {
  margin: 0; }

small {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: -.125rem;
  z-index: 2; }

h1 {
  line-height: 1;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -.125rem; }

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: .75;
  position: absolute;
  bottom: 10vw; }

html {
  height: 100%; }

main {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%; }

mark {
  background: var(--color); }

nav {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5vw;
  box-sizing: border-box;
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  justify-content: flex-start;
  flex-direction: column-reverse;
  transition: var(--time-base) var(--slow-end);
  z-index: 1;
  height: calc(100vh - 10vw);
  width: calc(100% - 10vw);
  margin: 5vw;
  overflow: hidden;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem); }
  nav a {
    margin: 1rem 0;
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: 600;
    transition: transform calc(var(--time-base)*2) var(--slow-end), opacity calc(var(--time-base)*2) var(--slow-end);
    position: relative;
    transform: translateY(0);
    opacity: 1; }
    nav a:nth-child(1) {
      transition-delay: 0.28s; }
    nav a:nth-child(2) {
      transition-delay: 0.36s; }
    nav a:nth-child(3) {
      transition-delay: 0.44s; }
    nav a:nth-child(4) {
      transition-delay: 0.52s; }
    nav a span {
      color: white;
      transition: color calc(var(--time-base)/4) linear; }
      nav a span:hover {
        color: var(--color); }
  nav.closed {
    padding: 0 5vw;
    height: 0; }
    nav.closed a {
      transform: translateY(-10vh);
      opacity: 0; }

:root {
  --hue: 60;
  --color: hsl(var(--hue), 100%, 50%);
  -webkit-tap-highlight-color: transparent;
  --layout-base: 8px;
  --time-base: .4s;
  --fast-end: cubic-bezier(0, 0, 1, 0);
  --slow-end: cubic-bezier(0, 0, 0, 1);
  --font-base: 'Inter', sans-serif;
  font-size: calc(var(--layout-base)*2);
  line-height: .675;
  text-rendering: geometricPrecision; }

::selection {
  background: black;
  color: white;
  opacity: .9; }

::-moz-selection {
  background: black;
  color: white;
  opacity: .9; }

/* width */
::-webkit-scrollbar {
  width: 0; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

section {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10vw; }
  section:first-child {
    height: 100%; }
  section:nth-child(even) {
    background: black;
    color: white; }

.spacing-1 {
  margin-bottom: 1rem; }

.spacing-2 {
  margin-bottom: 2rem; }

.spacing-3 {
  margin-bottom: 3rem; }

.spacing-4 {
  margin-bottom: 4rem; }

.spacing-5 {
  margin-bottom: 5rem; }

.spacing-6 {
  margin-bottom: 6rem; }

.spacing-7 {
  margin-bottom: 7rem; }

.spacing-8 {
  margin-bottom: 8rem; }

.spacing-9 {
  margin-bottom: 9rem; }

.spacing-10 {
  margin-bottom: 10rem; }

p {
  margin: 0; }

@media (max-width: 768px) {
  body > div {
    background-size: 50vw; }
  small span:not(.mobile) {
    display: none; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    position: relative;
    bottom: auto; }
  nav {
    margin: 0;
    height: 100vh;
    width: 100%;
    padding: 10vw;
    justify-content: center; }
    nav.closed {
      padding: 0 10vw; }
  section {
    justify-content: center; }
  footer {
    left: 10vw;
    transform: none; } }
