:root {
    // color
    --hue: 265;
    --color: hsl(var(--hue), 100%, 50%);
    --gray: hsl(var(--hue), 30%, 60%);
    --primary: hsl(var(--hue), 50%, 20%);

    // motion
    --layout-base: 8px;
    --time-base: .4s;
    --fast-end: cubic-bezier(0, 0, 1, 0);
    --slow-end: cubic-bezier(0, 0, 0, 1);

    // text
    font-size: calc(var(--layout-base)*2);
    font-family: 'Inter';
    line-height: 0.75;
}

::selection {
    background: black;
    color: white;
    opacity: .9;
}

::-moz-selection {
    background: black;
    color: white;
    opacity: .9;
}

@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
    }
}

@for $i from 1 through 10 {
    .spacing-#{$i} {
        margin-bottom: $i + rem;
    }
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
    
}

h2 {
    line-height: 1;
    font-size: 3rem;
    font-weight: 800;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    &.loading {
        opacity: 0;
        transform: translateY(-1rem);
    }
    opacity: 1;
    transition: opacity 1.2s var(--slow-end), transform .8s var(--slow-end);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding:
        10vw 10vw 0 10vw;

    button {
        -webkit-appearance: none;
        appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        margin: -1rem;
        padding: 1rem;
        position: relative;
        z-index: 1;
        font-weight: 600;
        z-index: 1;
        line-height: .75;
        font-size: 1rem;
        &:focus {
            outline: none;
        }
        
        &.inverted {
            content: 'Close it';
            color: white;
        }
    }
}

nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15vw 15vw 5vw 5vw;
    box-sizing: border-box;
    display: flex;
    background: black;
    justify-content: flex-end;
    flex-direction: column;
    transition: var(--time-base) var(--slow-end);
    z-index: 1;
    margin: 5vw;
    overflow: hidden;
    a {
        margin: 2rem 0 0;
        text-decoration: none;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        transition: transform var(--time-base) var(--slow-end);
        line-height: .625;
        @for $i from 1 through 4 {
            &:nth-child(#{$i}):hover {
                align-self: flex-start;
                background: hsl($i * 90, 100%, 50%);
                color: black;
            }
        }
    }

    &.closed {
        overflow: hidden;
        padding: 15vw 0rem 5vw 0rem;
        width: 0;
        a {
            opacity: 0;
            transform: translateX(-200%);
        }
    }

}

main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10vw;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1rem;
        font-weight: 400;
    }
    h2 {
        font-size: 2.75rem;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    nav {
        margin: 0;
        height: 100%;
        width: 100%;
        padding: 10vw;
        justify-content: center;
        &.closed {            
            padding: 10vw 0;
            a {
                transform: translateX(-300%);
            }
        }
    }
    header {
        box-sizing: border-box;
        width: 100%;
        bottom: 0;
        position: absolute;
        padding: 10vw;
        button {
            padding: .75rem;
            font-size: .875rem;
        }
    }
}