$motions: (
    speed: (
        fast: 400ms,
        slow: 800ms,
        super-fast: 200ms,
        super-slow: 1200ms,
    ),
    
    ease: (
        in: cubic-bezier(0, 0, 1, 0),
        out: cubic-bezier(0, 0, 0, 1),
        in-out: cubic-bezier(0.75, 0, 0.25, 1),
    )
);

:root {
	@each $item, $states in $motions {
		@each $state, $value in $states {
			#{"--" + $item}-#{$state}: #{$value};
		}
	}
}