$sizes: (
    default: (
        radius: .125rem,
        global-spacing: 4.5rem,
    ),
    sizing: (
        xxs: .125rem,
        xs: .25rem,
        sm: .5rem,
        md: .75rem,
        lg: 1rem,
        xl: 1.5rem,
    ),
    line-height: (
        sm: .75,
        md: 1,
        lg: 1.5,
    )
);

:root {
    --base: 8px;

	@each $size, $variances in $sizes {
		@each $variance, $value in $variances {
			#{"--" + $size}-#{$variance}: #{$value};
		}
	}
}

@media (max-width: 728px) {
    :root {
        --default-global-spacing: 1.5rem;
    }
}