::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
  margin-block: 0;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800;
  border: 0 solid theme('colors.zinc.900');
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}

body {
  @apply 
    pt-[env(safe-area-inset-top)]
    bg-stone-200
    text-stone-600
    dark:bg-black
    dark:text-zinc-400;
}

.text-default {
  @apply text-sm/loose lg:text-base/loose 2xl:text-xl/loose;
}

h2 {
  @apply font-light;
}
