.cta-button {
  background-image: linear-gradient(
    to bottom,
    theme('colors.black') 25%,
    theme('colors.brand.400') 25%,
    theme('colors.brand.400') 50%,
    theme('colors.brand.400') 50%,
    theme('colors.brand.400') 75%,
    theme('colors.zinc.200') 75%
  );
  background-size: 100% 400%;
  background-position: 0% 100%;
  transition:
    background-position 0.4s cubic-bezier(0.75, 0, 0.5, 1),
    color 0.2s cubic-bezier(0.75, 0, 0.5, 1),
    outline 0.2s cubic-bezier(0.75, 0, 0.5, 1);
  color: theme('colors.zinc.950');
  transition-delay: 0s, 0.2s, 0.2s;
  outline: 0px solid transparent;

  &:hover,
  &:focus,
  &:focus-within,
  &.active {
    outline-width: 2px;
    outline-color: theme('colors.zinc.200');
    color: theme('colors.zinc.200');
    background-position: 0% 0%;
  }

  @apply rounded-full py-3 px-4 text-[1rem] font-medium leading-[20px] text-zinc-950;
}
