.cta-button {
  background-image:
  linear-gradient(to bottom, theme('colors.black') 25%,
    theme('colors.brand.400') 25%,
    theme('colors.brand.400') 50%,
    theme('colors.brand.400') 50%,
    theme('colors.brand.400') 75%,
    theme('colors.zinc.200') 75%);
  background-size: 100% 400%;
  background-position: 0% 100%;
  transition:
    background-position .5s cubic-bezier(0.75, 0, 0.5, 1),
    color .25s cubic-bezier(0.75, 0, 0.5, 1),
    outline .25s cubic-bezier(0.75, 0, 0.5, 1);
  color: theme('colors.black');
  transition-delay: 0s, .25s, .25s;
  outline: 0px solid transparent;

  &:hover,
  &:focus,
  &:focus-within,
  &.active {
    outline-width: 2px;
    outline-color: theme('colors.zinc.200');
    color: theme('colors.zinc.200');
    background-position: 0% 0%;
  }
}