@mixin bg {
    $bg: url(../imgs/bg.svg);
    $cl: var(--accent);

    background: #{$bg}, #{$cl};
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    
    +:before {
        content: '';
        inset: 0;
        height: 100dvh;
        width: 100dvw;
        mask-image: #{$bg};
        mask-position: center;
        background-color: #{$cl};
        position: absolute;
        mask-size: cover;
    }
}