.brand {
    display: grid;
    gap: var(--size-md);
    color: var(--white);

    &_title {
        @include fontAccent;
        font-size: var(--size-md);
        line-height: var(--size-md);
    }

    &_description {
        font-size: var(--size-sm);
        line-height: var(--size-md);
        font-weight: 400;
    }
}