@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Jakarta';
    font-style: normal;
    font-weight: 200 800;
    src: url('../fonts/jakarta.ttf') format('truetype');
}

@font-face {
    font-family: 'Jakarta';
    font-style: italic;
    font-weight: 200 800;
    font-display: swap;
    src: url('../fonts/jakarta-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Space';
    font-style: normal;
    font-weight: 200 800;
    src: url('../fonts/space.ttf') format('truetype'),
         url('../fonts/space.woff2') format('woff2');
}

:root {
    --accent-font: 'Jakarta', serif;
    --second-font: 'Jakarta', sans-serif;
    font-size: var(--base);
}

@mixin fontSecond {
    font-family: var(--second-font);
    // font-feature-settings: 'ss03';
}

@mixin fontAccent {
    font-family: var(--accent-font);
    font-feature-settings: 'ss01';
    font-weight: 800;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
    margin: 0;
}