header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    padding: 0 var(--globe, var(--size-xl));
    position: relative;
    z-index: 2;
    
    @include bg;
}