.menu {
    @include fontAccent;
    display: flex;
    align-items: end;
    gap: calc(var(--size-md) * 2);
    list-style-type: none;
    margin: 0;
    padding: 0;

    &_link {
        display: flex;
        position: relative;
        padding: var(--size-xs) 0;
        color: var(--white);
        font-size: var(--size-md);
        text-decoration: none;
        line-height: 1;

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            top: calc(100% - .5rem);
            background-color: var(--accent);
            opacity: 0;
            pointer-events: none;
            z-index: -1;
        }

        &:hover {
            color: var(--white);
            &:before {
                opacity: 1;
            }
        }
    }
}


@media (max-width: 996px) {
    .menu {
        gap: calc(var(--size-md));
        flex-direction: column;
    }
}