nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5vw;
    box-sizing: border-box;
    display: flex;
    background: transparentize(black, .1);
    justify-content: flex-start;
    flex-direction: column-reverse;
    transition: var(--time-base) var(--slow-end);
    z-index: 1;
    height: calc(100vh - 10vw);
    width: calc(100% - 10vw);
    margin: 5vw;
    overflow: hidden;
    backdrop-filter: blur(2rem);
    a {
        margin: 1rem 0;
        text-decoration: none;
        font-size: 2.25rem;
        font-weight: 600;
        transition:
            transform calc(var(--time-base)*2) var(--slow-end),
            opacity calc(var(--time-base)*2) var(--slow-end);
        position: relative;
        transform: translateY(0);
        opacity: 1;
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                transition-delay: (.08s * $i) + .2s;
            }
        }
        span {
            color: white;
            transition: color calc(var(--time-base)/4) linear;
            &:hover {
                color: var(--color);
            }
        }
    }

    &.closed {
        overflow: hidden;
        padding: 0 5vw;
        height: 0;
        a {transform: translateY(-10vh); opacity: 0;}
    }
}