:root {
    // color
    --hue: 60;
    --color: hsl(var(--hue), 100%, 50%);
     -webkit-tap-highlight-color: transparent;

    // motion
    --layout-base: 8px;
    --time-base: .4s;
    --fast-end: cubic-bezier(0, 0, 1, 0);
    --slow-end: cubic-bezier(0, 0, 0, 1);

    // text
    --font-base: 'Inter', sans-serif;
      font-size: calc(var(--layout-base)*2);
      line-height: .675;
      text-rendering: geometricPrecision;
}

::selection {
    background: black;
    color: white;
    opacity: .9;
}

::-moz-selection {
    background: black;
    color: white;
    opacity: .9;
}
