$sizes: (
    size: (
        xxs: .5rem,
        xs: .75rem,
        sm: 1rem,
        md: 1.5rem,
        lg: 5rem,
        xl: 10rem,
        xxl: 15rem,
    )
);

:root {
    --base: 16px;

	@each $size, $variances in $sizes {
		@each $variance, $value in $variances {
			#{"--" + $size}-#{$variance}: #{$value};
		}
	}
}