@import
'_body',
'_fonts',
'_footer',
'_header',
'_headings',
'_html',
'_main',
'_mark',
'_nav',
'_root',
'_scrollbar',
'_section',
'_spacing',
'_text';

@media (max-width: 768px) {
    body > div {
        background: white;
    }

    small {
        span:not(.mobile) {
            display: none;
        }
    }
    
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.5;
        position: relative;
        bottom: auto;
    }

    nav {
        margin: 0;
        height: 100vh;
        width: 100%;
        padding: 10vw;
        justify-content: center;
        &.closed {
            padding: 0 10vw;
        }
    }
    
    section {
        justify-content: center;
    }
    
    footer {
        left: 10vw;
        transform: none;
    }

}