body {
    --body-padding: 7vw;
    background: var(--700);
    color: var(--200);
    font-family: var(--complement-font);
    font-weight: 500;
    line-height: var(--line-height-lg);
    padding: var(--body-padding);
    
    @media (min-width: 768px) { 
        --body-padding: 5vw;

        background:
            url('../images/Cole-Thomas_The-Course-of-Empire-Destruction_1836.webp'), var(--500);
    
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
    }

    @media (min-width: 992px) { 
        padding-right: 0;
    }

    @media (min-width: 1600px) {
        --body-padding: 7vw;
    }
}

body {
    transition: opacity 400ms ease-in-out;
    opacity: 1;
    
    &.loading {
        opacity: 0;
    }
}