@use '../mixins/' as m;

@keyframes brandEntry {
    from {
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 143px), calc(100% - 143px) 100%, 0% 100%);
        translate: 5rem 5rem;
        opacity: 0;
    }
}

@keyframes letterEntry {
    from {
        opacity: 0;
        translate: 5rem 5rem;
    }
}

.brand {
    @include m.path(1, 43px);
    background-color: var(--white);
    border-radius: var(--sizing-xxs);
    display: flex;
    flex-wrap: wrap;
    gap: var(--sizing-xs);
    padding: 10px;
    width: 4.5rem;
    animation: brandEntry 800ms var(--ease-in-out) both;
    overflow: hidden;

    > img {
        animation: letterEntry 800ms var(--ease-out) both;
        @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
                animation-delay: calc(200ms * $i);
            }
        }
    }
}

// @media (max-width: 768px) {
//     .brand {
//         --cut-size: 1rem;
//         gap: var(--sizing-xxs);
//         padding: 7px;
//         width: 3rem;
//         animation: none;

//         img {
//             height: 1rem;
//             animation: none;
//         }
//     }
// }