@keyframes brandEntry {
    from {
        opacity: 0;
        translate: 0 5rem;
    }
}

.brand {
    background-color: var(--white);
    border-radius: var(--sizing-xxs);
    display: flex;
    flex-wrap: wrap;
    gap: var(--sizing-xs);
    padding: 10px;
    width: 4.5rem;
    animation: brandEntry 800ms var(--ease-in-out) both;
    overflow: hidden;

    > img {
        animation: brandEntry 800ms var(--ease-out) both;
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: calc(200ms * $i);
            }
        }
    }
}

@media (max-width: 768px) {
    .brand {
        gap: var(--sizing-xxs);
        padding: 7px;
        width: 3rem;

        img {
            height: 1rem;
            animation: none;
        }
    }
}