.button {
    border: none;
    color: var(--100);
    cursor: pointer;
    display: block;
    font-family: var(--accent-font);
    font-size: var(--sizing-lg);
    line-height: var(--sizing-md);
    padding: var(--sizing-md) var(--sizing-lg);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all var(--speed-super-fast) var(--ease-in-out);
    white-space: nowrap;
    
    &:after {
        opacity: 0;
        content: '';
        position: absolute;
        inset: -.5rem;
        background: url('../images/1.svg'), url('../images/2.svg'), url('../images/3.svg'), url('../images/4.svg'), var(--800);
        background-position: top left, top right, bottom right, bottom left;
        background-repeat: no-repeat;
        z-index: -1;
        transition: all var(--speed-super-fast) var(--ease-in-out);
    }

    &:hover,
    &:focus-visible,
    &:focus {
        color: var(--white);
        outline: none;

        &:after {
            inset: 1px;
            opacity: 1;
        }
    }

    &.active {
        --button-cl: var(--iris);
    }
}