.button {
    --button-bg: transparent;
    --button-cl: var(--100);
    background-color: var(--button-bg);
    border-radius: var(--default-radius);
    border: none;
    color: var(--button-cl);
    display: block;
    font-family: var(--accent-font);
    font-size: var(--sizing-lg);
    font-weight: 700;
    line-height: var(--sizing-md);
    padding: var(--sizing-md);
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: var(--speed-super-fast);
    transition-timing-function: var(--ease-in-out);
    white-space: nowrap;
    cursor: pointer;

    &:hover,
    &:focus-visible,
    &:focus {
        --button-bg: var(--600);
        --button-cl: var(--iris);
        color: var(--button-cl);
        outline: none;
    }

    &.active {
        --button-cl: var(--iris);
    }
}