@use '../mixins/' as m;

dialog {
    @include m.path(2);
    background: var(--white);
    border-radius: var(--radius-md);
    border: none;
    padding: 2rem;
    max-width: calc(100% - 2rem);
    min-width: 320px;
    
    &[open] {
        animation: showDialog 400ms ease-in-out;
    }
    
    &::backdrop {
        background: transparentize(black, .2);
        animation: showBackdrop 400ms linear;
    }
}

@keyframes showDialog {
    from {
        opacity: 0;
        transform: scale(1.1);
    }
}

@keyframes showBackdrop {
    from {
        opacity: 0;
    }
}

