footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: var(--default-global-spacing);
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    animation: footerEntry 1200ms var(--ease-in-out) both;
}

@keyframes footerEntry {
    from {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    footer {
        rotate: 0.5turn;
        width: auto;
        writing-mode: tb;
        right: 0;
    }
}