.header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: var(--default-global-spacing);
    padding: var(--default-global-spacing);
    width: 100%;
    animation: headerEntry 1200ms var(--ease-in-out) both;
    overflow: hidden;
    isolation: isolate;

    &__about {
        line-height: 1.5;
        
        .line {
            display: grid !important;
            
            > span {
                opacity: 0;
                transform: translate(0, 1rem);
                transition: 800ms var(--ease-out);
            }
        }
    }
}

@keyframes headerEntry {
    from {
        opacity: 0;
    }
}

@media (max-width: 1382px) {
    .header {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .header {
        align-items: start;
        height: 100vh;
        &__about {
            br {
                display: none;
            }
        }
    }
}