.header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: var(--default-global-spacing);
    padding: var(--default-global-spacing);
    width: 100%;
    animation: headerEntry 1200ms var(--ease-in-out) both;

    &__about {
        line-height: 2;
    }
}

@keyframes headerEntry {
    from {
        opacity: 0;
    }
}

@media (max-width: 1382px) {
    .header {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .header {
        align-items: start;
        height: 100vh;

        &__about {
            br {
                display: none;
            }
        }
    }
}