@use '../mixins/' as m;

.input {
    position: relative;
    flex: 1;

    &:has(input:focus) {
        label {
            color: var(--white);
        }
    }

    svg {
        height: 1.25rem;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.875rem;
        box-sizing: content-box;
	}
}

input {
    @include m.focus;
    background-color: var(--600);
    border-radius: var(--radius-md);
    border: none;
    color: var(--white);
    line-height: var(--line-height-lg);
    padding: .75rem;
    transition: outline-color 200ms ease-in-out, background-color 200ms ease-in-out;
    display: flex;
    width: 100%;

    &[type="number"] {
        letter-spacing: 1px;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
                    appearance: none;
        }
    }

    &:focus {
        background-color: var(--500);
    }

	@media (min-width: 992px) {
        background-color: var(--black-40);
        
        &:focus {
            background-color: var(--black-80);
        }    
	}
}