.logotype {
    > span:first-child {
        opacity: 0;
    }

    &:hover {
        > span {
            &:first-child {
                opacity: 1;
            }
            &:last-child {
                opacity: 0;
            }
        }
    }
}