main {
    padding: var(--default-global-spacing);
    padding-top: 0;
}

main:not(:has(.workout)) {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: var(--default-global-spacing);
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

svg {
    animation: pulse var(--speed-fast) infinite;
    
    rect {
        animation: pulse var(--speed-slow) infinite;
        
        &:nth-child(odd) {
            animation-duration: var(--speed-super-slow);
            animation-direction: reverse;
        }

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: calc($i * var(--speed-super-fast));
            }
        }
    }
}

@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
	
	50% {
		transform: scaleY(.75);
		transform-origin: 50% 50%;
	}
	
	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}

@media (max-width: 768px) {
    main {
        // padding-right: calc(var(--default-global-spacing) * 2 + 10px);
    }
}