main {
    padding: var(--default-global-spacing);
    padding-top: 0;
    margin-top: auto;
}

@media (max-width: 768px) {
    main {
        padding-right: calc(var(--default-global-spacing) * 2 + 10px);
    }
}