@keyframes navEntry {
    from {
        opacity: 0;
    }
}

@keyframes navItemEntry {
    from {
        opacity: 0;
        translate: 5rem 0;
    }
}

.nav {
    display: flex;
    gap: var(--default-global-spacing);
    flex: 1;

    &__list {
        display: flex;
        gap: var(--sizing-md);

        > &Item {
            animation: navItemEntry 1200ms var(--ease-out) both;

            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    animation-delay: calc($i * 200ms);
                }
            }
        }
    }

    &__separator {
        display: flex;
        align-items: center;
        flex: 1;

        &:before {
            background-color: var(--500);
            content: '';
            height: 1px;
            width: 100%;
        }

        &:after {
            background-color: var(--300);
            content: '';
            height: 3px;
            width: 1.5rem;
        }
    }
}

@media (max-width: 1382px) {
    .nav__separator {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav {
        &__list {
            flex-direction: column;
            justify-content: end;
            
            &--toggleable {
                animation: navEntry 800ms var(--ease-out) both;
                background-color: var(--black);
                display: none;
                inset: 0;
                top: 5rem;
                justify-content: end;
                padding: var(--default-global-spacing);
                // padding-right: calc(var(--default-global-spacing) * 2 + 10px);
                position: fixed;
                -webkit-backdrop-filter: blur(1rem);
                        backdrop-filter: blur(1rem);
            }
            
            &--showing {
                display: flex;
            }
        }
    }
}