#playground {
    display: flex;
    align-items: center;
    gap: var(--sizing-lg);

    > small {
        .char {
            opacity: 0;
            transform: translate(1rem, 0);
            transition: var(--speed-super-fast) var(--ease-in-out);
        }
    }    
}