.workout {
    display: flex;
    flex: 1 1 calc(20% - var(--sizing-md));
    flex-direction: column;
    gap: var(--sizing-md);
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;

    &__title {
        color: var(--300);
        font-size: var(--sizing-lg);
        font-weight: bold;
        white-space: nowrap;
    }

    &__cluster {
        display: flex;
        flex-direction: column;
        gap: var(--sizing-lg);
    }
    
    &__item {
        align-items: center;
        background-color: var(--600);
        border-radius: var(--sizing-xxs);
        display: flex;
        gap: var(--sizing-lg);
        justify-content: space-between;
        padding: var(--sizing-lg);
        text-decoration: none;
        transition: translate var(--speed-fast) var(--ease-in-out);

        &--done {
            opacity: .25;
        }
    }

    &__obs {
        background-color: var(--600);
        padding: var(--sizing-lg);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--sizing-xxs);
        font-weight: bold;
        font-size: var(--sizing-xl);
        color: var(--400);
        white-space: nowrap;
    }
    
    &__details {
        display: flex;
        gap: var(--sizing-xs);
        font-size: var(--sizing-md);
        font-weight: bold;
        color: var(--white);
        flex-direction: column;

        span {
            white-space: nowrap;

            &:last-child {
                font-size: var(--sizing-md);
            }
        }
    }

    &__weight {
        font-size: var(--sizing-xl);
        font-weight: bold;
        color: var(--iris);
    }

    &__wrapper {
        display: flex;
        gap: calc(var(--default-global-spacing) * 2);
        margin-top: var(--default-global-spacing);
        flex-wrap: wrap;
    }
}

@media (min-width: 425px) {
    .workout {
        padding: var(--sizing-xl);
        background-color: var(--800);

        &__wrapper {
            gap: var(--sizing-md);
            margin-top: 0;
        }
    }
}