.workout {
    --workout-spacing: var(--sizing-xl);
    background-color: var(--800);
    border-radius: var(--sizing-xs);
    display: flex;
    flex-direction: column;
    gap: var(--workout-spacing);
    letter-spacing: 1px;
    line-height: 1;
    padding: var(--workout-spacing);
    text-transform: uppercase;

    &__title {
        font-size: var(--sizing-lg);
        white-space: nowrap;
    }

    &__cluster {
        display: flex;
        gap: var(--sizing-lg);
        flex-wrap: wrap;
    }

    &__item {
        background-color: var(--600);
        padding: var(--sizing-xl);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        aspect-ratio: 1 / 1;
        width: 7rem;
        border-radius: var(--sizing-xxs);
        transition: translate var(--speed-fast) var(--ease-in-out);


        &--done {
            opacity: .25;
        }
    }

    &__obs {
        background-color: var(--600);
        padding: var(--sizing-xl);
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1 / 1;
        width: 7rem;
        border-radius: var(--sizing-xxs);
        font-weight: bold;
        font-size: var(--sizing-xl);
        color: var(--400)
    }
    
    &__detail {
        font-size: var(--sizing-md);
        font-weight: bold;
        color: var(--white);
    }

    &__weight {
        font-size: var(--sizing-xl);
        font-weight: bold;
        color: var(--iris);
    }

    &__wrapper {
        display: flex;
        gap: var(--sizing-md);
        flex-wrap: wrap;
        
        > * {
            flex: 1;    
        }
    }
}