::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

::-webkit-scrollbar-track {
    @apply bg-neutral-950;
    border-radius: 100vw;
    margin-block: 0;
}

::-webkit-scrollbar-thumb {
    @apply bg-neutral-800;
    border: 0.25rem solid theme('colors.neutral.950');
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-600;
}

body {
    @apply 
    bg-neutral-950
    text-neutral-500;

    &:after {
        content: '';
        height: 100lvh;
        bottom: 0;
        inset-inline: 0;
        background-image: linear-gradient(
            theme('colors.neutral.950') 50%,
            theme('colors.brand.900') 200%
        );
        background-color: theme('colors.neutral.950');
        position: fixed;
        z-index: -1;
    }
}