::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

::-webkit-scrollbar-track {
    @apply bg-zinc-900;
    // border-radius: 100vw;
    margin-block: 0;
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-800;
    border: 0 solid theme('colors.zinc.900');
    // border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700;
}

body {
    @apply 
    bg-zinc-950
    text-zinc-500;

    &:after {
        content: '';
        height: 100lvh;
        bottom: 0;
        inset-inline: 0;
        background-position: fixed;
        background-image: linear-gradient(theme('colors.zinc.950') 50%, theme('colors.brand.950') 200%);
        background-color: theme('colors.zinc.950');
        position: fixed;
        z-index: -1;
    }
}