header {
    @apply fixed
    inset-x-0
    z-10
    flex
    items-baseline
    justify-between
    p-6
    text-sm
    mix-blend-difference

    sm:sticky
    sm:-top-2
    sm:px-8
    sm:py-10

    lg:px-[4.5rem]
    lg:pt-20
    lg:text-base;
}
