header {
    @apply
    fixed
    inset-x-0
    z-10
    flex
    items-center
    justify-between
    p-6
    text-sm
    bg-gradient-to-b
    from-gray-950

    sm:px-8
    sm:py-10

    lg:px-20
    lg:pt-20
    lg:text-base;
}
