@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    @apply flex shrink-0 items-center justify-around overflow-hidden whitespace-nowrap px-0 py-8 text-center text-lg leading-none sm:text-2xl sm:leading-none;
    min-width: 100%;
    gap: var(--gap);
}

.marquee {
    mask-image: linear-gradient(
        90deg,
        transparent,
        black,
        black,
        transparent
    );
}

.marquee__content {
    animation: marquee 42s linear infinite;
}
