@mixin path($type: 1) {
  --cut-size: 1rem;

  @if $type ==1 {
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--cut-size)), calc(100% - var(--cut-size)) 100%, 0% 100%);
  }

  @else if $type ==2 {
    clip-path:
      polygon(var(--cut-size) 0%,
        0% 0%,
        100% 0%,
        100% calc(100% - var(--cut-size)),
        calc(100% - var(--cut-size)) 100%,
        0% 100%,
        0% var(--cut-size));
  }

  @else if $type ==3 {
    clip-path:
      polygon(0% 0%,
        calc(100% - var(--cut-size)) 0%,
        100% var(--cut-size),
        100% 100%,
        var(--cut-size) 100%,
        0% calc(100% - var(--cut-size)),
      );
  }
}