:root {
  --100: hsl(200deg, 10%, 89%);
  --100-90: rgba(224, 228, 230, 0.9);
  --100-80: rgba(224, 228, 230, 0.8);
  --100-70: rgba(224, 228, 230, 0.7);
  --100-60: rgba(224, 228, 230, 0.6);
  --100-50: rgba(224, 228, 230, 0.5);
  --100-40: rgba(224, 228, 230, 0.4);
  --100-30: rgba(224, 228, 230, 0.3);
  --100-20: rgba(224, 228, 230, 0.2);
  --100-10: rgba(224, 228, 230, 0.1);
  --200: hsl(200deg, 10%, 55%);
  --200-90: rgba(129, 144, 152, 0.9);
  --200-80: rgba(129, 144, 152, 0.8);
  --200-70: rgba(129, 144, 152, 0.7);
  --200-60: rgba(129, 144, 152, 0.6);
  --200-50: rgba(129, 144, 152, 0.5);
  --200-40: rgba(129, 144, 152, 0.4);
  --200-30: rgba(129, 144, 152, 0.3);
  --200-20: rgba(129, 144, 152, 0.2);
  --200-10: rgba(129, 144, 152, 0.1);
  --300: hsl(200deg, 10%, 34%);
  --300-90: rgba(78, 90, 95, 0.9);
  --300-80: rgba(78, 90, 95, 0.8);
  --300-70: rgba(78, 90, 95, 0.7);
  --300-60: rgba(78, 90, 95, 0.6);
  --300-50: rgba(78, 90, 95, 0.5);
  --300-40: rgba(78, 90, 95, 0.4);
  --300-30: rgba(78, 90, 95, 0.3);
  --300-20: rgba(78, 90, 95, 0.2);
  --300-10: rgba(78, 90, 95, 0.1);
  --400: hsl(200deg, 10%, 21%);
  --400-90: rgba(48, 55, 59, 0.9);
  --400-80: rgba(48, 55, 59, 0.8);
  --400-70: rgba(48, 55, 59, 0.7);
  --400-60: rgba(48, 55, 59, 0.6);
  --400-50: rgba(48, 55, 59, 0.5);
  --400-40: rgba(48, 55, 59, 0.4);
  --400-30: rgba(48, 55, 59, 0.3);
  --400-20: rgba(48, 55, 59, 0.2);
  --400-10: rgba(48, 55, 59, 0.1);
  --500: hsl(200deg, 10%, 13%);
  --500-90: rgba(30, 34, 36, 0.9);
  --500-80: rgba(30, 34, 36, 0.8);
  --500-70: rgba(30, 34, 36, 0.7);
  --500-60: rgba(30, 34, 36, 0.6);
  --500-50: rgba(30, 34, 36, 0.5);
  --500-40: rgba(30, 34, 36, 0.4);
  --500-30: rgba(30, 34, 36, 0.3);
  --500-20: rgba(30, 34, 36, 0.2);
  --500-10: rgba(30, 34, 36, 0.1);
  --600: hsl(200deg, 10%, 8%);
  --600-90: rgba(18, 21, 22, 0.9);
  --600-80: rgba(18, 21, 22, 0.8);
  --600-70: rgba(18, 21, 22, 0.7);
  --600-60: rgba(18, 21, 22, 0.6);
  --600-50: rgba(18, 21, 22, 0.5);
  --600-40: rgba(18, 21, 22, 0.4);
  --600-30: rgba(18, 21, 22, 0.3);
  --600-20: rgba(18, 21, 22, 0.2);
  --600-10: rgba(18, 21, 22, 0.1);
  --700: hsl(200deg, 10%, 5%);
  --700-90: rgba(11, 13, 14, 0.9);
  --700-80: rgba(11, 13, 14, 0.8);
  --700-70: rgba(11, 13, 14, 0.7);
  --700-60: rgba(11, 13, 14, 0.6);
  --700-50: rgba(11, 13, 14, 0.5);
  --700-40: rgba(11, 13, 14, 0.4);
  --700-30: rgba(11, 13, 14, 0.3);
  --700-20: rgba(11, 13, 14, 0.2);
  --700-10: rgba(11, 13, 14, 0.1);
  --800: hsl(200deg, 10%, 3%);
  --800-90: rgba(7, 8, 8, 0.9);
  --800-80: rgba(7, 8, 8, 0.8);
  --800-70: rgba(7, 8, 8, 0.7);
  --800-60: rgba(7, 8, 8, 0.6);
  --800-50: rgba(7, 8, 8, 0.5);
  --800-40: rgba(7, 8, 8, 0.4);
  --800-30: rgba(7, 8, 8, 0.3);
  --800-20: rgba(7, 8, 8, 0.2);
  --800-10: rgba(7, 8, 8, 0.1);
  --white: white;
  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --black: black;
  --black-90: rgba(0, 0, 0, 0.9);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-10: rgba(0, 0, 0, 0.1);
  --iris: hsl(240deg, 100%, 75%);
  --iris-90: rgba(128, 128, 255, 0.9);
  --iris-80: rgba(128, 128, 255, 0.8);
  --iris-70: rgba(128, 128, 255, 0.7);
  --iris-60: rgba(128, 128, 255, 0.6);
  --iris-50: rgba(128, 128, 255, 0.5);
  --iris-40: rgba(128, 128, 255, 0.4);
  --iris-30: rgba(128, 128, 255, 0.3);
  --iris-20: rgba(128, 128, 255, 0.2);
  --iris-10: rgba(128, 128, 255, 0.1);
  --green: hsl(120deg, 85%, 55%);
  --green-90: rgba(43, 238, 43, 0.9);
  --green-80: rgba(43, 238, 43, 0.8);
  --green-70: rgba(43, 238, 43, 0.7);
  --green-60: rgba(43, 238, 43, 0.6);
  --green-50: rgba(43, 238, 43, 0.5);
  --green-40: rgba(43, 238, 43, 0.4);
  --green-30: rgba(43, 238, 43, 0.3);
  --green-20: rgba(43, 238, 43, 0.2);
  --green-10: rgba(43, 238, 43, 0.1);
  --red: hsl(355deg, 90%, 55%);
  --red-90: rgba(244, 37, 54, 0.9);
  --red-80: rgba(244, 37, 54, 0.8);
  --red-70: rgba(244, 37, 54, 0.7);
  --red-60: rgba(244, 37, 54, 0.6);
  --red-50: rgba(244, 37, 54, 0.5);
  --red-40: rgba(244, 37, 54, 0.4);
  --red-30: rgba(244, 37, 54, 0.3);
  --red-20: rgba(244, 37, 54, 0.2);
  --red-10: rgba(244, 37, 54, 0.1);
  --yellow: hsl(60deg, 85%, 55%);
  --yellow-90: rgba(238, 238, 43, 0.9);
  --yellow-80: rgba(238, 238, 43, 0.8);
  --yellow-70: rgba(238, 238, 43, 0.7);
  --yellow-60: rgba(238, 238, 43, 0.6);
  --yellow-50: rgba(238, 238, 43, 0.5);
  --yellow-40: rgba(238, 238, 43, 0.4);
  --yellow-30: rgba(238, 238, 43, 0.3);
  --yellow-20: rgba(238, 238, 43, 0.2);
  --yellow-10: rgba(238, 238, 43, 0.1);
}

.color-100 {
  color: hsl(200deg, 10%, 89%) !important;
}

.color-200 {
  color: hsl(200deg, 10%, 55%) !important;
}

.color-300 {
  color: hsl(200deg, 10%, 34%) !important;
}

.color-400 {
  color: hsl(200deg, 10%, 21%) !important;
}

.color-500 {
  color: hsl(200deg, 10%, 13%) !important;
}

.color-600 {
  color: hsl(200deg, 10%, 8%) !important;
}

.color-700 {
  color: hsl(200deg, 10%, 5%) !important;
}

.color-800 {
  color: hsl(200deg, 10%, 3%) !important;
}

.color-white {
  color: white !important;
}

.color-black {
  color: black !important;
}

.color-iris {
  color: hsl(240deg, 100%, 75%) !important;
}

.color-green {
  color: hsl(120deg, 85%, 55%) !important;
}

.color-red {
  color: hsl(355deg, 90%, 55%) !important;
}

.color-yellow {
  color: hsl(60deg, 85%, 55%) !important;
}

.background-100 {
  background: hsl(200deg, 10%, 89%) !important;
}

.background-200 {
  background: hsl(200deg, 10%, 55%) !important;
}

.background-300 {
  background: hsl(200deg, 10%, 34%) !important;
}

.background-400 {
  background: hsl(200deg, 10%, 21%) !important;
}

.background-500 {
  background: hsl(200deg, 10%, 13%) !important;
}

.background-600 {
  background: hsl(200deg, 10%, 8%) !important;
}

.background-700 {
  background: hsl(200deg, 10%, 5%) !important;
}

.background-800 {
  background: hsl(200deg, 10%, 3%) !important;
}

.background-white {
  background: white !important;
}

.background-black {
  background: black !important;
}

.background-iris {
  background: hsl(240deg, 100%, 75%) !important;
}

.background-green {
  background: hsl(120deg, 85%, 55%) !important;
}

.background-red {
  background: hsl(355deg, 90%, 55%) !important;
}

.background-yellow {
  background: hsl(60deg, 85%, 55%) !important;
}

:root {
  --base: 8px;
  --default-radius: 0.125rem;
  --default-global-spacing: 4.5rem;
  --sizing-xxs: 0.125rem;
  --sizing-xs: 0.25rem;
  --sizing-sm: 0.5rem;
  --sizing-md: 0.75rem;
  --sizing-lg: 1rem;
  --sizing-xl: 1.5rem;
  --line-height-sm: 0.75;
  --line-height-md: 1;
  --line-height-lg: 1.5;
}

@media (max-width: 728px) {
  :root {
    --default-global-spacing: 1.5rem;
  }
}
:root {
  --speed-fast: 400ms;
  --speed-slow: 800ms;
  --speed-super-fast: 200ms;
  --speed-super-slow: 1200ms;
  --ease-in: cubic-bezier(0, 0, 1, 0);
  --ease-out: cubic-bezier(0, 0, 0, 1);
  --ease-in-out: cubic-bezier(0.75, 0, 0.25, 1);
}

@font-face {
  font-family: "Carbon";
  src: url("../font/carbon.ttf") format("ttf"), url("../font/carbon.woff") format("woff");
}
:root {
  --accent-font: "Carbon", sans-serif;
  --complement-font: "Carbon", sans-serif;
  font-size: calc(var(--base) * 2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: var(--line-height-md);
  color: var(--white);
}

small,
.small {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
}

::-moz-selection {
  color: var(--black);
  background: var(--white);
}

::selection {
  color: var(--black);
  background: var(--white);
}

body {
  background-color: var(--black);
  color: var(--200);
  margin: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
}

@keyframes brandEntry {
  from {
    opacity: 0;
    translate: 0 5rem;
  }
}
.brand {
  background-color: var(--white);
  border-radius: var(--sizing-xxs);
  display: flex;
  flex-wrap: wrap;
  gap: var(--sizing-xs);
  padding: 10px;
  width: 4.5rem;
  animation: brandEntry 800ms var(--ease-in-out) both;
  overflow: hidden;
}
.brand > img {
  animation: brandEntry 800ms var(--ease-out) both;
}
.brand > img:nth-child(1) {
  animation-delay: 200ms;
}
.brand > img:nth-child(2) {
  animation-delay: 400ms;
}
.brand > img:nth-child(3) {
  animation-delay: 600ms;
}
.brand > img:nth-child(4) {
  animation-delay: 800ms;
}

@media (max-width: 768px) {
  .brand {
    gap: var(--sizing-xxs);
    padding: 7px;
    width: 3rem;
    animation: none;
  }
  .brand img {
    height: 1rem;
    animation: none;
  }
}
.button {
  --button-bg: transparent;
  --button-cl: var(--100);
  background-color: var(--button-bg);
  border-radius: var(--default-radius);
  border: none;
  color: var(--button-cl);
  display: block;
  font-family: var(--accent-font);
  font-size: var(--sizing-lg);
  font-weight: 700;
  line-height: var(--sizing-md);
  padding: var(--sizing-md);
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: var(--speed-super-fast);
  transition-timing-function: var(--ease-in-out);
  white-space: nowrap;
  cursor: pointer;
}
.button:hover, .button:focus-visible, .button:focus {
  --button-bg: var(--600);
  --button-cl: var(--iris);
  color: var(--button-cl);
  outline: none;
}
.button.active {
  --button-cl: var(--iris);
}

canvas {
  box-sizing: border-box;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: var(--default-global-spacing);
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  animation: footerEntry 1200ms var(--ease-in-out) both;
  animation-delay: 400ms;
}

@keyframes footerEntry {
  from {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  footer {
    rotate: 0.5turn;
    width: auto;
    writing-mode: tb;
    right: 0;
  }
}
.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: var(--default-global-spacing);
  padding: var(--default-global-spacing);
  width: 100%;
  animation: headerEntry 1200ms var(--ease-in-out) both;
  overflow: hidden;
}
.header__about {
  line-height: 1.5;
}
.header__about .line {
  display: grid !important;
}
.header__about .line > span {
  opacity: 0;
  transform: translate(0, 1rem);
  transition: 800ms var(--ease-out);
}

@keyframes headerEntry {
  from {
    opacity: 0;
  }
}
@media (max-width: 1382px) {
  .header {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header {
    align-items: start;
    height: 100vh;
  }
  .header__about br {
    display: none;
  }
}
main {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: var(--default-global-spacing);
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.menu {
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: var(--sizing-lg);
  left: 0;
  padding: var(--default-global-spacing);
  position: absolute;
}
.menu__item {
  background-color: transparent;
  border-radius: var(--default-radius);
  color: var(--100);
  display: flex;
  font-size: var(--sizing-lg);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: var(--sizing-md);
  text-decoration: none;
  text-transform: uppercase;
}

@keyframes navEntry {
  from {
    opacity: 0;
  }
}
@keyframes navItemEntry {
  from {
    opacity: 0;
    translate: 5rem 0;
  }
}
.nav {
  display: flex;
  gap: var(--default-global-spacing);
  flex: 1;
}
.nav__list {
  display: flex;
  gap: var(--sizing-md);
}
.nav__listItem {
  animation: navItemEntry var(--speed-super-slow) var(--ease-out) both;
}
.nav__listItem:nth-child(1) {
  animation-delay: calc(1 * var(--speed-super-fast));
}
.nav__listItem:nth-child(2) {
  animation-delay: calc(2 * var(--speed-super-fast));
}
.nav__listItem:nth-child(3) {
  animation-delay: calc(3 * var(--speed-super-fast));
}
.nav__listItem:nth-child(4) {
  animation-delay: calc(4 * var(--speed-super-fast));
}
.nav__listItem:nth-child(5) {
  animation-delay: calc(5 * var(--speed-super-fast));
}
.nav__listItem:nth-child(6) {
  animation-delay: calc(6 * var(--speed-super-fast));
}
.nav__separator {
  display: flex;
  align-items: center;
  flex: 1;
}
.nav__separator:before {
  background-color: var(--600);
  content: "";
  height: 1px;
  width: 100%;
}
.nav__separator:after {
  background-color: var(--300);
  content: "";
  height: 3px;
  width: 1.5rem;
  border-inline: 3px solid var(--black);
}

@media (max-width: 1382px) {
  .nav__separator {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav__list {
    flex-direction: column;
    justify-content: end;
  }
  .nav__list--toggleable {
    animation: navEntry var(--speed-slow) var(--ease-out) both;
    backdrop-filter: blur(1rem);
    background-color: var(--black);
    display: none;
    inset: 0;
    justify-content: center;
    padding: var(--default-global-spacing);
    position: fixed;
    top: 5rem;
    z-index: 1;
  }
  .nav__list--showing {
    display: flex;
  }
}
#playground {
  display: flex;
  align-items: center;
  gap: var(--sizing-lg);
}
#playground > small .char {
  opacity: 0;
  transform: translate(1rem, 0);
  transition: var(--speed-super-fast) var(--ease-in-out);
}

@keyframes workoutEntry {
  from {
    opacity: 0;
    scale: 1.1;
    translate: 0 5rem;
  }
}
.workout {
  display: flex;
  flex: 1 1 calc(20% - var(--sizing-md));
  flex-direction: column;
  gap: var(--sizing-md);
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  animation: workoutEntry var(--speed-super-slow) var(--ease-out) both;
}
.workout:nth-child(1) {
  animation-delay: calc(1 * var(--speed-super-fast));
}
.workout:nth-child(2) {
  animation-delay: calc(2 * var(--speed-super-fast));
}
.workout:nth-child(3) {
  animation-delay: calc(3 * var(--speed-super-fast));
}
.workout:nth-child(4) {
  animation-delay: calc(4 * var(--speed-super-fast));
}
.workout:nth-child(5) {
  animation-delay: calc(5 * var(--speed-super-fast));
}
.workout:nth-child(6) {
  animation-delay: calc(6 * var(--speed-super-fast));
}
.workout:nth-child(7) {
  animation-delay: calc(7 * var(--speed-super-fast));
}
.workout:nth-child(8) {
  animation-delay: calc(8 * var(--speed-super-fast));
}
.workout:nth-child(9) {
  animation-delay: calc(9 * var(--speed-super-fast));
}
.workout:nth-child(10) {
  animation-delay: calc(10 * var(--speed-super-fast));
}
.workout__title {
  color: var(--300);
  font-size: var(--sizing-lg);
  font-weight: bold;
  white-space: nowrap;
}
.workout__cluster {
  display: flex;
  flex-direction: column;
  gap: var(--sizing-lg);
}
.workout__item {
  align-items: center;
  background-color: var(--600);
  border-radius: var(--sizing-xxs);
  display: flex;
  gap: var(--sizing-lg);
  justify-content: space-between;
  padding: var(--sizing-lg);
  text-decoration: none;
  transition: opacity var(--speed-super-fast) var(--ease-in-out);
}
.workout__item--done {
  opacity: 0.25;
}
.workout__obs {
  background-color: var(--600);
  padding: var(--sizing-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--sizing-xxs);
  font-weight: bold;
  font-size: var(--sizing-xl);
  color: var(--400);
  white-space: nowrap;
}
.workout__details {
  display: flex;
  gap: var(--sizing-xs);
  font-size: var(--sizing-md);
  font-weight: bold;
  color: var(--white);
  flex-direction: column;
}
.workout__details span {
  white-space: nowrap;
}
.workout__details span:last-child {
  font-size: var(--sizing-md);
}
.workout__weight {
  font-size: var(--sizing-xl);
  font-weight: bold;
  color: var(--iris);
}
.workout__wrapper {
  display: flex;
  gap: calc(var(--default-global-spacing) * 2);
  margin-top: var(--default-global-spacing);
  flex-wrap: wrap;
}

@media (min-width: 425px) {
  .workout {
    padding: var(--sizing-xl);
    background-color: var(--800);
    animation: none;
  }
  .workout__wrapper {
    gap: var(--sizing-md);
    margin-top: 0;
  }
}
