@keyframes marquee {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes marquee-hover {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(calc(-50% - var(--gap)));
    }
}

.marquee {
    --gap: 2rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);

    mask: linear-gradient(
        90deg,
        transparent,
        black,
        black,
        transparent
    );

    &.reverse {
        .marquee__content {
            animation-direction: reverse;
        }
    }
}

.marquee__content {
    @apply
    flex
    shrink-0
    items-center
    justify-around
    overflow-hidden
    whitespace-nowrap
    px-0
    h-16
    text-center
    leading-none
    text-[1rem]
    text-stone-950
    dark:text-zinc-50
    xl:text-[1.25rem];
    min-width: 100%;
    gap: var(--gap);
    animation: marquee 32s linear infinite;
}
