@keyframes marquee {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    @apply
    flex
    uppercase
    shrink-0
    items-center
    justify-around
    overflow-hidden
    whitespace-nowrap
    px-0
    py-5
    text-center
    leading-none
    xl:text-[1.5rem];
    
    min-width: 100%;
    gap: var(--gap);
    animation: marquee 32s linear infinite;
}

.marquee {
    mask: linear-gradient(
        90deg,
        transparent,
        black,
        black,
        transparent
    );

    &.reverse {
        .marquee__content {
            animation-direction: reverse;
        }
    }
}
